<div>
    <h2 id="page-heading">
        <span>{{session.topic}}</span>
    </h2>

    <hr>

    <div class="alert alert-warning" id="no-result" *ngIf="sessionLoadError">
        <span>Session not found!<br><br>Please reach out to your learning adminstrator!</span>
    </div>

    <div class="sessionDetails">
        <div class="col-sm-12">{{ session.sessionDateTime | date:'medium' }}</div>
        <div class="col-sm-12">{{ session.location}}</div>
        <div class="col-sm-12 hostedBy">Hosted By</div>
        <div *ngIf="session.assignedSMEs && session.assignedSMEs.length > 0">
            <div class="listItem" *ngFor="let sme of session.assignedSMEs">
                <fa-icon icon="user-tie"></fa-icon>&nbsp;&nbsp;{{sme.split('|')[0]}}
            </div>
        </div>
    </div>
    <br>
    <div class="alert alert-success participationSuccess" id="no-result" *ngIf="participationRecorded">
        <div class="participationCheckMark"><fa-icon icon="check-circle"></fa-icon><br></div>
        <span>Your attendance has been recorded!<br><br>Please submit the survey to claim your participation points!</span>
    </div>

</div>
