.sessionDetails {
  margin: 0px -15px;
}

.participationCheckMark {
  font-size: 45px;
  text-align: center;
  margin-bottom: 8px;
}

.participationSuccess {
  border: 2px dashed;
  margin-bottom: 150px;
}

.listItem {
  margin: 5px auto auto 20px;
  font-size: 16px;
}

.hostedBy {
  margin-top: 15px;
  font-weight: 700;
}
