.sessionDetails {
  margin: 0px -15px;
}

.participationCheckMark {
  font-size: 45px;
  text-align: center;
  margin-bottom: 8px;
}

.participationSuccess {
  border: 2px dashed;
  margin-bottom: 150px;
}