<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2>{{ course.courseName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <div class="row">
                <div *ngIf="course.imagePath" class="col-md-5">
                    <img class="courseDetailImage" [src]="course.imagePath">
                </div>
                <div class="col-md-7">
                    <dl class="row-md jh-entity-details">
                        <dt><span>SME Skills</span></dt>
                        <dd>
                            <div class="listItem" *ngFor="let skill of course.smeSkills">
                                <fa-icon icon="graduation-cap"></fa-icon>&nbsp;&nbsp;<span>{{ skill }}</span>
                            </div>
                        </dd>
                        <dt><span>Pre Requisites</span></dt>
                        <dd>
                            <span>{{ course.preRequisites }}</span>
                        </dd>
                        <dt><span>SME Points</span></dt>
                        <dd>
                            <span>{{ course.smePoints }}</span>
                        </dd>
                        <dt><span>Participant Points</span></dt>
                        <dd>
                            <span>{{ course.participantPoints }}</span>
                        </dd>
                        <dt>
                            <span>SME</span>
                            <button type="submit"
                                    (click)="editSMEs(course)"
                                    class="btn btn-info btn-sm float-right">
                                <fa-icon icon="user-edit"></fa-icon>&nbsp;&nbsp;<span class="d-none d-md-inline">Edit SMEs</span>
                            </button>
                        </dt>
                        <dd>
                            <div *ngIf="course.courseSMEs && course.courseSMEs.length > 0">
                                <div class="listItem" *ngFor="let sme of course.courseSMEs">
                                    <fa-icon icon="user-tie"></fa-icon>&nbsp;&nbsp;{{sme.split('|')[0]}}
                                </div>
                            </div>
                            <div *ngIf="!course.courseSMEs || course.courseSMEs.length === 0">
                                No SMEs assigned for the course!
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="courseButtons">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span class="d-none d-md-inline">Back</span>
                </button>
                <button type="button"
                        [routerLink]="['/course', course.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span class="d-none d-md-inline">Edit</span>
                </button>
                <button type="submit" (click)="delete(course)"
                        class="btn btn-danger">
                    <fa-icon icon="times"></fa-icon>&nbsp;<span class="d-none d-md-inline">Delete</span>
                </button>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-session" 
                        [routerLink]="['/course/session/new']">
                    <fa-icon icon="plus"></fa-icon>
                    <span>
                    Add a new Session
                    </span>
                </button>
            </div>
            <div class="sessionContainer">
                <hr>
                <jhi-session></jhi-session>
            </div>
        </div>
    </div>
</div>
