<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-heading">Create or edit a Course</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_courseName">Course Name</label>
                    <input type="text" class="form-control" name="courseName" id="field_courseName"
                           formControlName="courseName"/>
                    <div *ngIf="editForm.get('courseName')!.invalid && (editForm.get('courseName')!.dirty || editForm.get('courseName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('courseName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_smeSkills">SME Skills</label>
                    <input type="text" class="form-control" name="smeSkills" id="field_smeSkills"
                           formControlName="newSMESkill" (keyup)="loadSkills($event)" autocomplete="off"/>
                    <jhi-dynamic-dropdown [keyboardAction]=skillDropDownKeyboardAction [dropdownList]=skillsDropdownList (selectedValueEmitter)="onDropdownValueSelection($event);" ></jhi-dynamic-dropdown>
                    <div *ngIf="smeSkills && smeSkills.length > 0">
                        <div *ngFor="let skill of smeSkills.reverse(); let i=index">
                            <span class="smeSkillsValue">
                                <span>{{skill}}</span>&nbsp;&nbsp;&nbsp;
                                <fa-icon (click)="deleteSMESkill(smeSkills.length -i -1)" icon="times"></fa-icon>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_preRequisites">Pre Requisites</label>
                    <input type="text" class="form-control" name="preRequisites" id="field_preRequisites"
                           formControlName="preRequisites"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_points">SME Points</label>
                    <input type="number" class="form-control" name="smePoints" id="field_points"
                           formControlName="smePoints"/>
                    <div *ngIf="editForm.get('smePoints')!.invalid && (editForm.get('smePoints')!.dirty || editForm.get('smePoints')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('smePoints')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('smePoints')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_points">Participant Points</label>
                    <input type="number" class="form-control" name="participantPoints" id="field_points"
                           formControlName="participantPoints"/>
                    <div *ngIf="editForm.get('participantPoints')!.invalid && (editForm.get('participantPoints')!.dirty || editForm.get('participantPoints')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('participantPoints')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('participantPoints')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_courseSMEs">Course SMEs</label>
                    <input type="text" class="form-control" name="courseSMEs" id="field_courseSMEs"
                           formControlName="courseSMEs" disabled=disabled/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_imagePath">Image Path</label>
                    <input type="text" class="form-control" name="imagePath" id="field_imagePath"
                           formControlName="imagePath"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="button" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" (click)="save()">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
