span.smeSkillsValue {
  margin: 10px 0px 0px 0px;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  background: #f3f3f3;
}

.courseDetailImage {
  width: 100%;
}

.courseButtons {
  margin-top: 20px;
}

.sessionContainer {
  margin-top: 20px;
}

#entities a:hover {
  text-decoration: none;
}

.courseCard {
  height: 270px;
  background-size: 100% 100%;
  margin-top: 25px;
}

.courseCard .layer {
  width: 100%;
  height: 100%;
  background-color: #413a3a;
  opacity: 0.7;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

.courseCard .layer:hover {
  opacity: 0.8;
}

.courseCard .layer .courseName {
  font-size: 25px;
}

.courseCard .layer .pointsContainer {
  margin-top: 15px;
  font-size: 16px;
}

.listItem {
  margin: 5px auto auto 20px;
  font-size: 16px;
}