<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span>Course</span> {{ course.courseName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Course Name</span></dt>
                <dd>
                    <span>{{ course.courseName }}</span>
                </dd>
                <dt><span>Sme Skills</span></dt>
                <dd>
                    <span>{{ course.smeSkills }}</span>
                </dd>
                <dt><span>Pre Requisites</span></dt>
                <dd>
                    <span>{{ course.preRequisites }}</span>
                </dd>
                <dt><span>Points</span></dt>
                <dd>
                    <span>{{ course.points }}</span>
                </dd>
                <dt><span>Image Path</span></dt>
                <dd>
                    <span>{{ course.imagePath }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
