<div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
        <h1 class="display-4">Welcome<span *ngIf="isAuthenticated() && account">, {{account.firstName}} {{account.lastName}}</span>!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-warning col-lg-6 col-sm-12" *ngSwitchCase="false">
                <span>Please </span><a class="alert-link" (click)="login()">sign in</a><span> to continue!</span>
            </div>
            <div class="alert alert-warning col-lg-6 col-sm-12" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>

            <jhi-user-home *ngSwitchCase="true"></jhi-user-home>
        </div>
    </div>
</div>
